.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background_violet {
  background-color: #551b8c;
}

.background_green {
  background-color: #a1c126;
}

.bg {
  /* The image used */
  background-image: url("./components/images/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: top;
  background-size: cover;
  align-items: "center";
  position: "relative";
  z-index: -1;
}

.not_owned_filter {
  filter: grayscale(80%);
}

.extractorBackground {
  background-image: url("./components/images/bg_extractor.png");
  background-size: cover;
  background-position: center;

}

.extDataBox {
  background-image: linear-gradient(to bottom right, rgba(180, 180, 180, 0.3), rgba(255, 255, 255, 0));
  backdrop-filter: blur(20px);
  background-color: rgba(85, 27, 140, 0.5);
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);

}

.appLogo {
  background-image: url("./components/images/frog_logo.png");
  background-size: cover;
  background-position: center;
}


.buttonGreen {
  background-color: #a1c126 !important;
}

.buttonGreen:hover {
  background-color: #7d961d !important;
  filter: brightness(90%);
}

.buttonDark {
  background-color: #303030 !important;
  color: '#a1c126' !important;
  border: 3 !important;
  border-color: '#a1c126' !important;
}

.buttonDark:hover {
  background-color: #555555 !important;

  filter: brightness(110%);
}




.icons {
  display: flex;
  column-gap: 25px;
}

.icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover {
  animation: shake .25s;
}

.icon--instagram:hover {
  color: white;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #2854eb 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--srs:hover {
  color: white;
  background-image: radial-gradient(circle at 50% 50%, #74caff 15%, #4db5f5 40%, #2892d4 60%, #007bc7 100% );
  outline-color: #007bc7;
}

.icon--gitbook:hover {
  color: white;
  background-image: radial-gradient(circle at 0% 0%, #d7eb86 15%, #a1c126 40%, #7c9710 60%, #3f4d07 90% );
  outline-color: #a1c126;
}

@keyframes shake {
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-15deg);}
  30%{transform: rotate(15deg);}
  40%{transform: rotate(-15deg);}
}