.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background_violet {
  background-color: #551b8c;
}

.background_green {
  background-color: #a1c126;
}

.bg {
  /* The image used */
  background-image: url("./components/images/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: top;
  background-size: cover;
  align-items: "center";
  position: "relative";
  z-index: -1;
}

.not_owned_filter {
  filter: grayscale(80%);
}

.extractorBackground {
  background-image: url("./components/images/bg_extractor.png");
  background-size: cover;
  background-position: center;

}

.extDataBox {
  background-image: linear-gradient(to bottom right, rgba(180, 180, 180, 0.3), rgba(255, 255, 255, 0));
  backdrop-filter: blur(20px);
  background-color: rgba(85, 27, 140, 0.5);
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
}

.appLogo {
  background-image: url("./components/images/frog_logo.png");
  background-size: cover;
  background-position: center;
}


.buttonGreen {
  background-color: #a1c126 !important;
}

.buttonGreen:hover {
  background-color: #7d961d !important;
  filter: brightness(90%);
}

.buttonDark {
  background-color: #303030 !important;
  color: #a1c126 !important;
  border: 3 !important;
  border-color: '#a1c126' !important;
}

.buttonDark:hover {
  background-color: #555555 !important;
  color: #a1c126 !important;
  filter: brightness(110%);
}




.icons {
  display: flex;
  column-gap: 25px;
}

.icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover {
  animation: shake .25s;
}

.icon--instagram:hover {
  color: white;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #2854eb 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--srs:hover {
  color: white;
  background-image: radial-gradient(circle at 50% 50%, #74caff 15%, #4db5f5 40%, #2892d4 60%, #007bc7 100% );
  outline-color: #007bc7;
}

.icon--gitbook:hover {
  color: white;
  background-image: radial-gradient(circle at 0% 0%, #d7eb86 15%, #a1c126 40%, #7c9710 60%, #3f4d07 90% );
  outline-color: #a1c126;
}

.icon--discord:hover {
  color: white;
  background-image: radial-gradient(circle at 0% 0%, #8aa0ef 15%, #718ae6 40%, #7289DA 60%, #556fce 90% );
  outline-color: #7289DA;
}

@keyframes shake {
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-15deg);}
  30%{transform: rotate(15deg);}
  40%{transform: rotate(-15deg);}
}

.giftNotReadyIcon {

  width: 200px;
  height: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 50px;

  border-radius: 50%;
  border: '4px solid rgb(255, 0, 0)';

  background-image: url('./components/images/GiftBox_not_ready.png');
  background-size: cover;

}

.giftButton {
  background-color: #aae0ff !important;
  color: #00a2ff !important;
  transition-property: outline-offset, outline-color;
  transition-duration: .5s;
}
.giftButton:hover {
  outline-offset: 6px;
  animation: lightup-small 0.5s; 
  animation-fill-mode: forwards;
}


.giftIcon {
  width: 200px;
  height: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 50px;

  border-radius: 50%;
  border: '4px solid rgb(255, 0, 0)';
  transition-property: outline-offset, outline-color;
  transition-duration: 1s;

  background-image: url('./components/images/GiftBox.png');
  background-size: cover;
}
.giftIcon:hover {
  outline-offset: 12px;
  animation: lightup 1s; 
  animation-fill-mode: forwards;
}
.giftIcon--open{
  width: 200px;
  height: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 50px;
  background-image: url('./components/images/Ranger_with_pe.png');
  background-size: cover;
}

.bonusBannerBox {
  background-image: linear-gradient(160deg, rgba(221, 221, 221, 0.25), rgba(119, 49, 49, 0.5));
  backdrop-filter: blur(10px);
  background-color: rgba(119, 49, 49, 0.5);
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
}



@keyframes lightup {
  10%{filter: brightness(105%);}
  20%{filter: brightness(110%);
      outline-width: 6px;
      outline-color: #00a2ff;}
  30%{filter: brightness(115%);}
  40%{filter: brightness(120%);}
  60%{filter: brightness(125%);
      outline-width: 7px;
      outline-color: #6ac8ff;}
  80%{filter: brightness(130%);
      outline-width: 8px;
      outline-color: #aae0ff;}
  100%{filter: brightness(130%);
      outline-width: 8px;
      outline-color: #ffffff;}
}

@keyframes lightup-small {
  20%{outline-color: #00a2ff;}
  60%{outline-width: 5px;
      outline-color: #6ac8ff;} 
  80%{outline-color: #aae0ff;}
  100%{outline-width: 6px;
      outline-color: #ffffff;}
}

.assetCard {
  transition: all .2s ease-in-out;
}

.assetCard:hover {
  transform: scale(1.1);
}